<div id="allExpensePage">
<h1 class="headerTitle">All Expense</h1>
<%= link_to 'New Expense', new_expense_path,class:'btn btn-primary btn-xs' %>
<div class="row">
<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Tax</th>
      <th>Tip</th>
      <th>Expense Type</th>
      <th>Description</th>
      <th> Action</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.user_id %></td>
        <td><%= expense.name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.tax %></td>
        <td><%= expense.tip %></td>
  
       <td><%= get_expense_cat_name(expense.expense_cat_id).expense_name %></td>
  
        <td><%= expense.description %></td>
        <td>
        <%= link_to  expense do %>
          <i class="fa fa-eye"></i>
        <%end%>
        <span>
        <%= link_to edit_expense_path(expense) do %>
          <i class="fa fa-pencil"></i>
          <% end %>
          
        </span>
        <span>
         <%= link_to  expense, method: :delete, data: { confirm: 'Are you sure?' } do %>
           <i class="fa fa-trash"></i>
          <% end %>
        </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>
