<p>
  <strong>User:</strong>
  <%= @expense.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @expense.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @expense.tax %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @expense.tip %>
</p>

<p>
  <strong>Category:</strong>
    <%  l=ExpenseCategory.where(:id=>@expense.expense_cat_id).select("expense_name").first %>
    <%= l.expense_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
